<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  
</head>
<body>

  <%- include('./commonHeader') %>

  我是一个首页

  ejs 模板引擎 的语法
  <%= name %>

  <%= age %>

  <ul>


    <% for (var i = 0; i < list.length; i++) { %>
      <li><%= list[i].name %></li>
    <%} %>

    <% if (age > 90) { %>
      <span>你是个老家伙</span>
    <% } else if (age > 60 && age <= 90) { %>
      <span>你是个小鲜肉</span>
    <%} %>
    

    <%- abc%>


    <%%
  </ul>

  <script src="/index.js"></script>
</body>
</html>